@import "src/styles/variables";

.myNavbarNav {
  border-left: 2px solid #{$primary-100};
  border-right: 2px solid #{$primary-100};
  border-radius: 10px;
  padding: 0 1rem 0 1rem;
}

.myNavbarBrand {
  color: $primary;
}
