.bi {
  height: 1em !important;
  width: 1em !important;

  // adjust placement, copied from the applied
  // styles at the demo (https://icons.getbootstrap.com/icons/clipboard/)
  display: inline-block;
  vertical-align: -0.125em;
  fill: currentcolor;
}
