@import "src/styles/variables.scss";

$my-nav-link-active-color: $primary;

.myNavLink {
  --bs-navbar-active-color: #{$my-nav-link-active-color};
  transition: 0.3s ease-in-out all;
  border-radius: 10px;
  outline-offset: -5px;

  &:hover {
    text-decoration: underline;
  }
}
