.clipboardText {
  display: grid;
  grid-template-columns: auto min-content;
  align-items: center;
}

.text {
  padding: 0.375rem;
  line-break: anywhere;
}

.iconSwitcher__container {
  width: 16px;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.iconSwitcher {
}

.button {
}
