@import "src/styles/variables";

.errorFooter {
  font-size: 2rem;
  transform-origin: 0 100%;
  display: flex;
  background-color: #{$red-100};
  color: #{$red-800};
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #{$danger};
}

.errorText {
  padding: 0.5rem 0.5rem;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
}

.errorSpinner {
  margin-right: 0.5rem;
}

.errorText::-webkit-scrollbar {
  height: 2px;
  position: absolute;
  bottom: 50%;
}

.errorText::-webkit-scrollbar-thumb {
  background-color: #{$danger};
}
