@import "bootstrap/scss/functions";

$primary: green;
$navbar-brand-margin-end: 2rem;
$navbar-nav-link-padding-x: 1.5rem;

$primary-100: tint-color($primary, 80%) !default;
$primary-200: tint-color($primary, 60%) !default;
$primary-300: tint-color($primary, 40%) !default;
$primary-400: tint-color($primary, 20%) !default;
$primary-500: $primary !default;
$primary-600: shade-color($primary, 20%) !default;
$primary-700: shade-color($primary, 40%) !default;
$primary-800: shade-color($primary, 60%) !default;
$primary-900: shade-color($primary, 80%) !default;

@import "bootstrap/scss/variables";
